<div class="container">
    <h1><%= @announcement.title %></h1>
    <div class="card">
        <div class="announcement-content">
            <%= @announcement.content %>
        </div>
    </div>
</div>
<div class="container">
    <a href="/announcements/">
        <div class="bot_nav button">
            <h3><<< Back to Boards</h3>
        </div>
        <div class="bot_nav button">
            <h3><<< Return to Announcements</h3>
        </div>
    </a>
</div>
