<div class="container">
    <h1>Creat new Board</h1>
    <%= form_for @board do |f| %>
        <%= f.label 'Board Name: ' %>
        <%= f.text_field :name %>
        <%= f.submit 'Create new Board' %>
    <% end %>
</div>
