<div class="container">
    <h3>Announcements</h3>
    <div class="board-announcements">
        <div class="card">
            <% @announcements.each do |announcements| %>
                <a href="/announcements/<%= announcements.id.to_s %>"><p><%= announcements.title %></p></a>
            <% end %>
        </div>
    </div>
</div>
<div class="container clearfix">
    <h1>Forum</h1>
    <% @boards.each do |board| %>
        <div class="card">
            <h3><a href="/board/<%= board.id %>/streams/"><%= board.name %></a></h3>
            <hr>
        </div>
    <% end %>
</div>

<% if current_user.role == 0 %>
    <div class="container">
        <h4> Administrative Controls </h4>
                <a href="/announcements/new"/>
                    <div class="bot_nav button">
                        <h3>New Announcement</h3>
                    </div>
                </a>
                <a href="/board/new">
                    <div class="bot_nav button">
                        <h3>New Board</h3>
                    </div>
                </a>
    </div>
<% end %>
