<div class="container">
    <h2>Register for Project Citizen</h2>
    <p>Enter your email to sign up for our next Project Citizen session.</p>
    <p>We'll notify you by email when we are ready to begin our next session, with a link to the forum and your login information.</p>
    <div class="field">
        <%= form_for @registration do |f| %>
            <%= f.email_field :email %></br>
            <%= f.submit %>
        <% end %>
    </div>
    <p></p>
    <p>(We hate spam just as much as you do. We won't share or use your email for anything unrelated to Project Citizen)</p>
</div>
