<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid top-navbar">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Home</a>
		</div>
		<span class="name">Project Citizen</span>
		<ul class="nav navbar-nav navbar-right">
			<% if user_signed_in? %>
				<li><a href="/users/<%= current_user.id %>">Profile</a></li>
				<li><a href="/board/">Forum</a></li>
				<li>
					<%= link_to(destroy_user_session_path, :method => :delete) do %>
						Sign Out<span class="glyphicon glyphicon-log-out after-text-glyph"></span>
					<% end %>
				</li>
			<% else %>
				<li>
					<%= link_to('Sign in', new_user_session_path)  %>
				</li>
			<% end %>
		</ul>
	</div>
</nav>
