<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid top-navbar">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Home</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
            <li><a href="#">Sign Up</a></li>
		</ul>
	</div>
</nav>
