<div class="container">
    <h1>Welcome to Project Citizen</h1>
    <p> Project Citizen is a community centered Augmented Virtual Reality game, where
        the players confront real world issues in a virtual environment, and go about
        addressing them in their personal lives. Players are expected to encounter
        environmental, economic, and social issues, discuss these with other players,
        and work in real life to solve them.
    </p>

    <p> After signing up, players will be invited to join in the next session of Project
        Citizen, typically running from two to four weeks. They will receive notifications
        about the goings on inside of Project Citizen, and players will earn in-game currency
        from completing challenges in the real world. The in-game currency will be used to create
        initiatives and laws within the community to help address problems they will face during
        the game.
     </p>

     <p> Our next session in February will be centered around problems facing agriculture,
         and will run from the 11th to the 24th. Registrations will close on the 8th.
     </p>

     <p>
         <a href="/users/sign_up">Sign up</a> today and we'll give you notifications about our next session and your
         registration link, once we are ready to start.
     </p>
</div>
