/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
     background-color: #222;
     font-family: monospace;
     background-image: image-url("bg.jpg");
     background-repeat: no-repeat;
     background-size:cover;

 }

.clearfix {
    overflow: auto;
}

 .navbar {
     border: none;
     border-radius: 0px;
     background-color: black;
     color: white;
     text-align: center;
 }

 .navbar-right {
     background-color: #888;
 }

 .navbar-right:hover {
    // background-color: #ddd;
 }

 .navbar-default .navbar-nav > li > a {
     color: white;
 }

.content {
    position:absolute;
    top:0;
    bottom:0;
    left:15%;
    right:15%;
    overflow:hidden;
    background-color: #111;
    opacity: 0.85;
    z-index: -1;
}

.container {
    float: none;
    background-color: #dddddd;
    border-radius: 6px;
    margin-bottom: 3px;
    margin-top: 10px;
    max-height: 80vh;
}

.name {
    margin: auto;
    font-size: 2em;
}

h1 {
    display: block;
    border-bottom: 1px solid black;
}

.notice {
    background-color: #ab1e1e;

}

.button {
    overflow: hidden;
    white-space: nowrap;

    color: white;
    background-color: #777;
    padding-left: 3px;
    padding-right: 3px;
    margin: 3px;

    border-style: dotted;
    border-width: thin;
    border-color: black;
    border-top: none;
    border-left: none;
    border-radius: 3px;
}

.button:active {
    border-style: dotted;
    border-width:thin;
    border-color: black;
    border: none;
}

.button:hover {
    background-color: #666;
    color: black;
}

.bot_nav {
    float: right;
}

a:hover, a:focus {
  color: #2a6496;
  text-decoration: none;
}

ul {
    list-style-type: none;
}

.poster-name {
    float: right;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12;
}

.card {
    display: inline-block;
    width: 99%;
    padding: 3px;
    padding-bottom: 10px;
    margin: 3px;
    margin-bottom: 6px;

    border-radius: 6px;
    border-style: dotted;
    border-width: thin;
    border-top: none;
    border-left: none;

    background-color: #eee;
}

.post-content {
    background-color: white;
    padding: 3px;
    border-style: dotted;
    border-width: thin;
    border-color: black;
    border-radius: 3px;
    overflow: auto;
    margin: 3px;
    white-space: pre-wrap;
    overflow-y: scroll;
    max-height: 300px;
    will-change: transform;
}

.post-footer {
    float: right;
}

#wrapper {
    width: 100%;
    overflow: auto; /* will contain if #first is longer than #second */
}

.admin {
    background-color: #666;
    color: lawngreen;
    border-style: dotted;
    border-color: lawngreen;
    border-width: 2px;
}
