// Place all the styles related to the board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.board-announcements {
    max-height: 20vh;
    overflow-y: scroll;
    will-change: transform;
}
