// Place all the styles related to the stream controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile {
    float: left;
    width: 150px;
    padding-left: 3px;
    height: 100%;
}

.post {
    display: inline-block;
    width: 99%;
    padding-bottom: 10px;
    margin: 3px;
    margin-bottom: 6px;

    border-radius: 6px;
    border-style: dotted;
    border-width: thin;
    border-top: none;
    border-left: none;

    background-color: #eee;

    ul {
        list-style-type: none;
    }
}


.post-content {
    background-color: white;
    padding: 3px;
    border-style: dotted;
    border-width: thin;
    border-color: black;
    border-radius: 3px;
    overflow: auto;
    margin: 3px;
    white-space: pre-wrap;
}

#wrapper {
    width: 100%;
    overflow: auto; /* will contain if #first is longer than #second */
}
